.write-container {
    display: flex;
    justify-content: center;
}

.write-form {
    width: 100%;
    height: 800px;
    padding: 0px 100px;
    display: flex;
    flex-direction: column;
}

.input-title {
    display: block;
    border-bottom: 1px solid black;
    height: fit-content;
    padding: 30px 0px;
}
.input-title input {
    width: 100%;
    height: 100%;
    border:none;
    font-size: 30px;
}
input:focus {
    outline: none;
}
.input-content {
    width: 100%;
    height: 100%;
    padding: 30px 0px;
    border-bottom: 1px solid black;
}
.input-content textarea {
    width: 100%;
    height: 100%;
    resize: none;
    border: none;
    font-size: 15px;
}
.input-content textarea:focus {
    outline: none;
}

.button-container {
    margin: 20px 0 10px 0;
}
button {
    width: 60px;
    height: 40px;
    margin-right: 10px;
}
